.show-container {
  margin: 0px 25px;
}
.btn-comments {
    background-color: #8AA399; /* A muted green background */
    color: black; /* White text */
    padding: 10px 20px; /* Space inside the button */
    border: 1px solid #4f6455; /* A darker green border */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 16px; /* Medium-sized text */
    text-align: center; /* Center the text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;/* Smooth hover effect */


}

.btn-comments:hover {
    background-color: #101010; /* Darker green on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    color: #cfa165;
}



.btn-against {

}

.btn-neutral {

}

.btn-for {

}
