.show-container {
  margin: 0px 25px;
}
.btn-comments {
    background-color: #8AA399;
    color: black;
    padding: 10px 20px;
    border: 1px solid #4f6455;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;


}

.btn-comments:hover {
    background-color: #101010;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #cfa165;
}

.btn-against, .btn-neutral, .btn-for {
  border: 1px solid #ccc;
  padding: 10px 20px;
  background-color: #f9f9f9;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100px;
}


.btn-against.active {
  background-color: #ffcccc;
  color: #900;
}

.btn-against:hover {
  background-color: #ffe8e8;
  color: #900;
}

.btn-neutral.active {
  background-color: #ffeeba;
  color: #856404;
}

.btn-neutral:hover {
  background-color: #c59f2e;
  color: #856404;
}

.btn-for.active {
  background-color: #c3e6cb;
  color: #155724;
}
.btn-for:hover {
  background-color: #d7ffe0;
  color: #155724;
}

.typing-animation {
  white-space: pre-wrap; /* Preserve whitespace for multiline */
  overflow: hidden; /* Hide overflow */
  display: inline-block;
  width: 700px;
  max-width: 700px;
}

.debbie-logo {
  margin-left: 25px;
}

.debbie-logo:hover {
  transform: scale(1.05);
  color: #51483F;
}

.debbie-logo:hover::after {
  content: "Debbie is our AI companion. She will help you understand the topic and provide you with a summary.";
  position: absolute;
  top: 100%; /* Position the box below the element */
  right: 50%; /* Center the box horizontally relative to the element */
  transform: translateY(7px) translateX(50%); /* Add spacing below and center it */
  background-color: rgba(51, 51, 51, 0.8); /* Changed to rgba for opacity */
  color: white;
  padding: 10px 22px; /* Adjusted padding for a better fit */
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 250px;
  max-width: 250px;
}
//////////////////////////////////
/// ai button
.ai-answer {
  display: block; /* Block layout */
  margin-top: 1rem; /* Add space above */
  margin-bottom: 1rem; /* Add space below */
  padding: 1rem; /* Add padding for a clean look */
  background-color: #f9f9f9; /* Light gray background */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  text-align: left; /* Align text to the left */
  white-space: pre-wrap; /* Preserve line breaks and whitespace */
}
