<% @topics.each do |topic| %>
    <div class="topic-card my-5">
        <div class="d-flex align-items-center mb-3">
        <div class="avatar-placeholder me-2"></div>
        <p class="username"> <%= topic.user.name %> </p>
        </div>
        <h3 mb-2> <%= topic.title %> </h3>
        <div class="d-flex align-items-center justify-content-between">
        <p class="mb-0"> <%= topic.description %> </p>
        <%= link_to "Open", topic_path(topic), class: "gumroad"%>
        </div>
    </div>
<% end %>