<div class="container d-flex justify-content-center mt-5">
  <div class="row topic-card">
    <div class="d-flex align-items-center mb-3">
      <div class="avatar-placeholder me-2"></div>
      <p class="username"> <%= @topics.last.user.name %> </p>
    </div>
    <h3 mb-2> <%= @topics.last.title %> </h3>
    <p class="mb-0"> <%= @topics.last.description %> </p>
    <%= link_to "Open", topics_path(@topic), class: "gumroad"%>
  </div>
</div>
