<div class="container mt-5" data-controller="search">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="row justify-content-center search-width-fix">
        <div class="col-sm-8 search-width my-3">
          <%= form_with url: topics_path, method: :get, class: "search-box2" do %>
            <%= text_field_tag :query, params[:query], class: "search-input2", placeholder: "Search topics...", id: "search-bar", data: { action: "keyup->search#search", searchTarget: "input" } %>
            <%= button_tag(type: 'submit', class: "search-btn2") do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="results-container" data-search-target="results">
        <%= render partial: "topics/card_topics", locals: { topics: @topics } %>
      </div>
    </div>
  </div>
</div>
