<turbo-stream target="thermometer" action="update">
  <template>
    <div id="thermometer" class="thermometer-container">
      <div class="thermometer">
        <div class="ticks">
          <% (0..100).step(20).reverse_each.with_index do |tick, index| %>
            <div class="tick d-flex align-items-center" style="top: <%= index * 20 %>%;">
              <span class="tick-number"><%= tick %></span>
            </div>
          <% end %>
        </div>
        <div class="level" style="height: <%= @thermometer_percentage %>%;"></div>
      </div>
    </div>
  </template>
</turbo-stream>
