<div class="container-home text-center">
  <h1 class="debatify">Debatify</h1>
  <p class="debatify-p">Your voice. Your impact.</p>
  <%= render "shared/searchbar" %>
  <div class="trending-topics">
    <h1><i class="fa-solid fa-fire"></i> Trending topics</h1>
    <hr class="trending-separator"/>
  </div>
</div>
