.main-comment {
  width: 100%;
  background-color: rgb(169, 169, 169);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.sub-comment {
  background-color: rgb(230, 230, 230);
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  align-self: flex-end;
  width: 80%;
}

.sub-comment p {
  font-size: smaller;
}

.n-comments {
  position: relative;
  padding: 15px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.hidden {
  display: none;
}

.replies {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.show {
  max-height: 500px;
}

.comments-wrapper {
  width: 100%;
}
