.main-comment {
  width: 100%;
  background-color: #e9e4dd;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
}

.sub-comment {
  background-color: rgb(180, 181, 135);
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  align-self: flex-end;
  width: 100%;
}

.sub-comment p {
  font-size: 12px;
}

.sub-comment .username {
  margin-right: 6px;
}

.n-comments {
  position: relative;
  padding: 15px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.hidden {
  display: none;
}

.replies {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.reply-expand {
  max-height: 500px;
}

.comments-wrapper {
  width: 100%;
}
