.topic-card {
  background-color: rgb(225, 225, 225);
  padding: 30px 30px 15px; /* Updated padding to include 15px bottom */
  border-radius: 8px;
  width: 100%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);

  border: 1px solid #ddd;
  min-height: 200px;
}

.main-topic-card {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
