// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/_topic_card";
@import "components/_gum_button";
@import "pages/show";
@import "components/main_topic_card";
@import "dashboard/user";
@import "pages/new_form";

@import "components/comments";
@import "components/anf_bar";


.username {
  font-size: 14px;
  color: rgb(81, 81, 81);
  font-weight: bold;
  font-style: italic;
  display: flex;
  display: inline-block;
  margin: 0;
}

p {
  font-family: "Merriweather";
}

h1, h2, h3 {
  font-family: "Lexend";
}

.avatar-placeholder {
  width: 30px;
  height: 30px;
  background-color: rgb(65, 65, 65);
  border-radius: 50%;
}
