// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/_topic_card";
@import "components/_gum_button";
@import "pages/show";
@import "components/main_topic_card";
@import "dashboard/user";
@import "pages/new_form";
@import "components/comments";
@import "components/anf_bar";
@import "components/ai-button";
@import "components/modal";

.username {
  font-size: 14px;
  color: rgb(81, 81, 81);
  font-weight: bold;
  font-style: italic;
  display: flex;
  display: inline-block;
  margin: 0;
}

p {
  font-family: "Merriweather";
}

h1, h2, h3 {
  font-family: "Lexend";
}

.avatar-placeholder {
  width: 30px;
  height: 30px;
  background-color: rgb(65, 65, 65);
  border-radius: 50%;
}

.thermometer-container {
  text-align: center;
  margin: 20px auto;
  position: relative; /* Needed for absolutely positioned ticks */

  .thermometer {
    position: relative;
    width: 50px; /* Width of the thermometer */
    height: 200px; /* Height of the thermometer */
    border: 2px solid #333; /* Border color */
    background: #f3f3f3; /* Background color */
    overflow: hidden;
    border-radius: 5px; /* Rounded corners */

    .ticks {
      position: absolute;
      left: -30px; /* Position ticks to the left of the thermometer */
      height: 100%; /* Match the height of the thermometer */
      width: 30px; /* Space for tick numbers and lines */

      .tick {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .tick-number {
          font-size: 12px; /* Font size for numbers */
          color: #333; /* Text color */
          margin-right: 5px; /* Spacing between number and tick line */
        }

        &::before {
          content: '';
          width: 10px; /* Length of the tick line */
          height: 1px; /* Height of the tick line */
          background-color: #333; /* Line color */
          margin-right: 5px; /* Spacing between tick line and number */
        }
      }
    }

    .level {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(180deg, #ff4e42, #ffb142); /* Gradient color for level fill */
      transition: height 0.3s ease; /* Smooth animation for height changes */
    }
  }
}
